@import "./variables.scss";

.container {
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
@media (min-width: $xs) {
  .container {
    max-width: $xs;
  }
}
@media (min-width: $sm) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: $md) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: $lg) {
  .container {
    max-width: 1140px;
  }
  .containerNarrow {
    max-width: 960px;
  }
}
@media (min-width: $xl) {
  .container {
    max-width: 1320px;
  }
  .containerNarrow {
    max-width: 960px;
  }
}
