.container {
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
@media (min-width: 540px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .containerNarrow {
    max-width: 960px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .containerNarrow {
    max-width: 960px;
  }
}
