.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  background: rgb(115, 161, 199);
  height: 80px;
}
.innerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.logo {
  width: 120px;
  height: 40px;
  background: #b5d0e0;
}
.linksMobile {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  background: #d8e6e9;
  height: calc(100vh - 80px);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
.linksMobileContainer {
  display: flex;
  flex-direction: column;
}
.open {
  transform: translateX(0%);
}
.linksDesktop {
  display: none;
}
.burger {
  width: 40px;
  height: 40px;
  background: #b5d0e0;
}
.spacer {
  height: 80px;
}
@media (min-width: 992px) {
  .linksDesktop {
    display: block;
  }
  .burger,
  .linksMobile {
    display: none;
  }
}
