// colours
// $colour1: #ffffff;
// $colour2: #d8e6e9;
// $colour3: #b5d0e0;
// $colour4: #73a1c7;
// $colour5: #2b6da3;
$colour1: #EB5E48;
$colour2: #383193;
$colour3: #6A71D8;
$colour4: #8D92E5;
$colour5: #E7B4FF;
$colour6: #FFFFFF;
// sizes
$navbar-height: 80px;
$xs: 540px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;
